<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.firstname %></h1>
    <p>
      You user account has been deleted by an admin due to the fact that he is an admin and he does whatever he wants.
    <p>Have a great day!</p>
  </body>
</html>