    <div id="main_wrapper" class="container_fluid">
   
      <div id="header_background">
        <h1>Welcome to Rotten Mangoes!</h1>
        <div class="search">
          <%= form_tag("/movies", method: "get", class: "search_form") do %>
              <%= text_field_tag(:search) %>
              <%= select_tag :time, options_for_select(%w(duration all <90 90-120 >120)) %>
              <%= submit_tag("Search") %>
        <% end %>
        </div>
      </div>
    </div><!-- #main_wrapper -->